.benefits {
  background-color: var(--color-light);
  padding-bottom: 200px;
  &__title {
    text-align: center;
    margin-bottom: 77px;

    @include small-tablet {
      margin-bottom: 30px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include desktop {
      flex-direction: column;
      align-items: center;
    }
  }
  &__content {
    @include desktop {
      margin: 25px 0;
    }
  }
  &__info {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @include desktop {
      text-align: center;
    }
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__descr {
    max-width: 500px;
    text-align: left;

    @include desktop {
      text-align: center;
    }
  }
  &__img {
    height: auto;

    @include desktop {
      width: 300px;
      height: 290px;
    }
    @include tablet {
      width: 250px;
      height: 225px;
    }
    @include mobile {
      height: 150px;
    }
  }

  @include desktop {
    padding-bottom: 75px;
  }
  @include small-tablet {
    padding-bottom: 50px;
  }
  @include mobile {
    padding-bottom: 25px;
  }
}
