.characteristics {
  padding-bottom: 200px;
  background-color: var(--color-light);
  &__tabs {
    background-color: var(--color-alabaster);
    padding: 100px 180px 87px 100px;
    margin: 0 63px;

    @include desktop {
      padding: 75px 0 75px 20px;
    }
    @include mobile {
      margin: 0;
      padding: 25px;
    }
  }
  &__nav {
    margin-bottom: 50px;

    @include tablet {
      display: block;
      text-align: center;
    }
  }
  &__nav-item {
    &:not(:last-child) {
      margin-right: 60px;

      @include tablet {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }
  &__nav-btn {
    font-weight: 300;
    &:focus {
      color: var(--color-main);
      background-color: transparent;
    }
  }
  .tabs__nav-btn--active {
    font-weight: 500;
    border-bottom: 1px solid var(--color-main);
  }
  &__info {
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: block;
    }
  }
  &__column {
    padding-right: 20px;

    @include tablet {
      padding-right: 0;
    }
  }
  &__list {
    margin-bottom: 40px;
  }
  &__item {
    margin-bottom: 5px;
  }
  &__category {
    display: inline-block;
    font-weight: 300;
    vertical-align: top;
    text-align: left;
    margin-right: 10px;
  }
  &__value {
    display: inline-block;
    text-align: left;
    font-weight: 400;
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-main);
    margin-bottom: 5px;
  }

  @include tablet {
    padding-bottom: 100px;
  }
  @include mobile {
    padding-bottom: 50px;
  }
}
