.screen {
  background-color: var(--color-light);
  padding-bottom: 196px;
  &__wrapper {
    @include flex-v-center;

    flex-direction: column;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__descr {
    max-width: 930px;
    margin-bottom: 60px;
  }
  &__img {
    height: auto;
  }
}
