<section class="benefits">
  <div class="container">
    <h2 class="section-title benefits__title">
      Смартфон, который всегда на шаг впереди
    </h2>
    <div class="benefits__wrapper">
      <picture>
        <source srcset="img/benefits-img-1.avif" type="image/avif" />
        <source srcset="img/benefits-img-1.webp" type="image/webp" />
        <img
          class="benefits__img"
          loading="lazy"
          src="img/benefits-img-1.jpg"
          width="365"
          height="350"
          alt=""
        />
      </picture>
      <div class="benefits__content">
        <div class="benefits__info">
          <h3 class="section-subtitle benefits__subtitle">Мощный процессор</h3>
          <p class="descr benefits__descr">
            Благодаря инновационному чипсету, RAM-памяти и улучшенному
            нейронному процессору, производительность смартфона находится на
            новом уровне. Переключайтесь между приложениями без задержек и
            транслируйте видео с максимальной четкостью, наслаждаясь
            бескомпромиссной мощностью.
          </p>
        </div>
        <div class="benefits__info">
          <h3 class="section-subtitle benefits__subtitle">
            Большой объем памяти
          </h3>
          <p class="descr benefits__descr">
            Объем встроенной памяти и поддержка карты microSD до 1 ТВ позволяют
            хранить в смартфоне Galaxy S20 все, что вам необходимо
          </p>
        </div>
      </div>
      <picture>
        <source srcset="img/benefits-img-2.avif" type="image/avif" />
        <source srcset="img/benefits-img-2.webp" type="image/webp" />
        <img
          class="benefits__img"
          loading="lazy"
          src="img/benefits-img-2.jpg"
          width="365"
          height="350"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
