<section class="camera">
  <div class="container">
    <div class="camera__wrapper">
      <h2 class="section-title camera__title">
        Камера профессионального уровня
      </h2>
      <p class="descr camera__descr">
        Тройная основная камера позволяет вам делать снимки профессионального
        уровня. Создайте кадр с помощью камеры с широкоугольным объективом или
        расширьте его пределы с помощью камеры с ультра широкоугольным
        объективом, или увеличивайте объекты с помощью трехкратного оптического
        зума камеры с телеобъективом.
      </p>
      <div class="camera__image">
        <picture>
          <source srcset="img/camera-img.avif" type="image/avif" />
          <source srcset="img/camera-img.webp" type="image/webp" />
          <img
            class="camera__img"
            loading="lazy"
            src="img/camera-img.jpg"
            width="1160"
            height="855"
            alt=""
          />
        </picture>
        <picture>
          <source srcset="img/camera-img-tablet.avif" type="image/avif" />
          <source srcset="img/camera-img-tablet.webp" type="image/webp" />
          <img
            class="camera__img-tablet"
            loading="lazy"
            src="img/camera-img-tablet.jpg"
            width="475"
            height="350"
            alt=""
          />
        </picture>
        <picture>
          <source srcset="img/camera-img-mobile.avif" type="image/avif" />
          <source srcset="img/camera-img-mobile.webp" type="image/webp" />
          <img
            class="camera__img-mobile"
            loading="lazy"
            src="img/camera-img-mobile.jpg"
            width="300"
            height="219"
            alt=""
          />
        </picture>
        <div class="camera__characteristic camera__characteristic--1">
          <span class="section-title camera__figure">12 Мп</span>
          <span class="descr camera__name">Ультраширокая камера</span>
        </div>
        <div class="camera__characteristic camera__characteristic--2">
          <span class="section-title camera__figure">64 Мп</span>
          <span class="descr camera__name">Широкая камера</span>
        </div>
        <div class="camera__characteristic camera__characteristic--3">
          <span class="section-title camera__figure">12 Мп</span>
          <span class="descr camera__name">Телефотокамера</span>
        </div>
        <div class="camera__characteristic camera__characteristic--4">
          <span class="section-title camera__figure">10 Мп</span>
          <span class="descr camera__name">Фронтальная камера</span>
        </div>
      </div>
      <p class="descr camera__text">
        Чувствительная матрица, тройная камера и мощный процессор позволяют
        снимать видео в разрешении 8K (7680x4320 пикселей) с частотой 24 кадра в
        секунду. А также производить съемку “slow-motion” с впечатляющей
        скоростью: 960 кадров/секунду с HD-разрешением и 240 кадров/секунду с
        FHD-разрешением.
      </p>
    </div>
  </div>
</section>
