<section class="characteristics">
  <h2 class="visually-hidden">Характеристики</h2>
  <div class="container">
    <div class="tabs characteristics__tabs" data-tabs="characteristics">
      <ul class="list-reset tabs__nav characteristics__nav">
        <li class="tabs__nav-item characteristics__nav-item">
          <button
            class="btn-reset tabs__nav-btn section-subtitle characteristics__nav-btn"
            type="button"
          >
            Краткие характеристики
          </button>
        </li>
        <li class="tabs__nav-item characteristics__nav-item">
          <button
            class="btn-reset tabs__nav-btn section-subtitle characteristics__nav-btn"
            type="button"
          >
            Все характеристики
          </button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="characteristics__info">
            <div class="characteristics__column">
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Встроенная память:</span
                  >
                  <span class="descr characteristics__value">128 ГБ</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Поддержка внешней памяти:</span
                  >
                  <span class="descr characteristics__value"
                    >MicroSD до 1 ТБ</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Основная камера:</span
                  >
                  <span class="descr characteristics__value"
                    >12.0 МП + 64.0 МП + 12.0 МП</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Фронтальная камера:</span
                  >
                  <span class="descr characteristics__value">10.0 MП</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Процессор:</span
                  >
                  <span class="descr characteristics__value"
                    >Восьмиядерный, 2,73 ГГц</span
                  >
                </li>
              </ul>
            </div>
            <div class="characteristics__column">
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category">Дисплей:</span>
                  <span class="descr characteristics__value"
                    >158.3 мм (6.2"), 3200 x 1440, Dynamic AMOLED 2X</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Количество SIM-карт:</span
                  >
                  <span class="descr characteristics__value">Dual-SIM</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Стандарт связи:</span
                  >
                  <span class="descr characteristics__value">3G, 4G LTE</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Операционная система:</span
                  >
                  <span class="descr characteristics__value">Android</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Емкость аккумулятора (типичное значение):</span
                  >
                  <span class="descr characteristics__value">4000 мАч</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="characteristics__info">
            <div class="characteristics__column">
              <h3 class="characteristics__title">Процессор</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Частота процессора:</span
                  >
                  <span class="descr characteristics__value">2,73 ГГц</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Тип процессора:</span
                  >
                  <span class="descr characteristics__value"
                    >Восьмиядерный</span
                  >
                </li>
              </ul>
              <h3 class="characteristics__title">Экран</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Размеры (Основной экран):</span
                  >
                  <span class="descr characteristics__value"
                    >158.3 мм (6.2")</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Разрешение экрана:</span
                  >
                  <span class="descr characteristics__value"
                    >3200 x 1440 (Quad HD+)</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Тип экрана:</span
                  >
                  <span class="descr characteristics__value"
                    >Dynamic AMOLED 2X</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Глубина цвета:</span
                  >
                  <span class="descr characteristics__value">16 млн.</span>
                </li>
              </ul>
              <h3 class="characteristics__title">Основная камера</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Разрешение:</span
                  >
                  <span class="descr characteristics__value"
                    >12.0 МП + 64.0 МП + 12.0 МП</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Диафрагма:</span
                  >
                  <span class="descr characteristics__value"
                    >F1.8, F2.0, F2.2</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Оптическая система стабилизации:</span
                  >
                  <span class="descr characteristics__value">Есть</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category">Зум:</span>
                  <span class="descr characteristics__value"
                    >3-кратный оптический, 30-кратный цифровой</span
                  >
                </li>
              </ul>
              <h3 class="characteristics__title">Фронтальная камера</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Разрешение:</span
                  >
                  <span class="descr characteristics__value">10.0 MП</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Диафрагма:</span
                  >
                  <span class="descr characteristics__value">F2.2</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Автофокус:</span
                  >
                  <span class="descr characteristics__value">Есть</span>
                </li>
              </ul>
              <h3 class="characteristics__title">Запись видео</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Разрешение:</span
                  >
                  <span class="descr characteristics__value"
                    >UHD 8K (7680 x 4320) при 24 кадр/с</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Замедленное движение:</span
                  >
                  <span class="descr characteristics__value">
                    960 кадр./с с HD-разрешением<br />
                    240 кадр./с с FHD-разрешением
                  </span>
                </li>
              </ul>
              <h3 class="characteristics__title">Память</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Объем ОЗУ:</span
                  >
                  <span class="descr characteristics__value">8 ГБ</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Встроенная память:</span
                  >
                  <span class="descr characteristics__value">128 ГБ</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Доступная память:</span
                  >
                  <span class="descr characteristics__value">104 ГБ</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Поддержка внешней памяти:</span
                  >
                  <span class="descr characteristics__value"
                    >MicroSD до 1 ТБ</span
                  >
                </li>
              </ul>
              <h3 class="characteristics__title">Аккумулятор</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Время работы в интернете (LTE):</span
                  >
                  <span class="descr characteristics__value">до 14 часов</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Время работы в интернете(Wi-Fi):</span
                  >
                  <span class="descr characteristics__value">до 15 часов</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Емкость аккумулятора (типичное значение):</span
                  >
                  <span class="descr characteristics__value">4000 мАч</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category">Съемный:</span>
                  <span class="descr characteristics__value">Нет</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Время разговора (4G LTE):</span
                  >
                  <span class="descr characteristics__value">до 20 часов</span>
                </li>
              </ul>
              <h3 class="characteristics__title">Физические характеристики</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Размеры (ВxШxГ, мм):</span
                  >
                  <span class="descr characteristics__value"
                    >151.7 x 69.1 x 7.9</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category">Вес:</span>
                  <span class="descr characteristics__value">163 г</span>
                </li>
              </ul>
              <h3 class="characteristics__title">Общая информация</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Форм-фактор:</span
                  >
                  <span class="descr characteristics__value"
                    >Классический с сенсорным экраном</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Операционная система:</span
                  >
                  <span class="descr characteristics__value">Android</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category">Датчики:</span>
                  <span class="descr characteristics__value">
                    Акселерометр, Барометр,<br />
                    Сканер отпечатка пальца,<br />
                    Гироскопический датчик,<br />
                    Геомагнитный датчик,<br />
                    Датчик Холла,<br />
                    RGB датчик освещенности,<br />
                    Датчик присутствия
                  </span>
                </li>
              </ul>
            </div>
            <div class="characteristics__column">
              <h3 class="characteristics__title">Аудио и Видео</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Поддержка стeреозвука:</span
                  >
                  <span class="descr characteristics__value">Есть</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Форматы воспроизведения видео:</span
                  >
                  <span class="descr characteristics__value">
                    MP4, M4V, 3GP, 3G2, WMV,<br />
                    ASF, AVI, FLV, MKV, WEBM
                  </span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Разрешение воспроизведения видео:</span
                  >
                  <span class="descr characteristics__value">
                    UHD 8K (7680 x 4320)<br />
                    для 30 кадр./с
                  </span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Форматы аудио:</span
                  >
                  <span class="descr characteristics__value">
                    MP3, M4A, 3GA, AAC, OGG, OGA, WAV, WMA,<br />
                    AMR, AWB, FLAC, MID, MIDI, XMF, MXMF,<br />
                    IMY, RTTTL, RTX, OTA, DFF, DSF, APE
                  </span>
                </li>
              </ul>
              <h3 class="characteristics__title">Сеть</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Количество SIM-карт:</span
                  >
                  <span class="descr characteristics__value">Dual-SIM</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Размер SIM-карты:</span
                  >
                  <span class="descr characteristics__value">
                    Nano-SIM (4FF),<br />
                    Встроенная SIM-карта
                  </span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Тип SIM-слота:</span
                  >
                  <span class="descr characteristics__value">
                    SIM 1 + Hybrid (SIM или MicroSD),<br />
                    или встроенная SIM
                  </span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Стандарт связи:</span
                  >
                  <span class="descr characteristics__value">
                    2G GSM, 3G WCDMA, 4G LTE FDD,<br />
                    4G LTE TDD, 2G GSM, GSM850, GSM900,<br />
                    DCS1800, PCS1900, 3G UMTS, B1 (2100),<br />
                    B2 (1900), B4(AWS), B5(850), B8 (900),<br />
                    4G FDD LTE, B1(2100), B2(1900), B3(1800),<br />
                    B4(AWS), B5(850), B7(2600), B8(900),<br />
                    B12(700), B13(700), B17(700), B18(800),<br />
                    B19(800), B20(800), B25(1900), B26(850),<br />
                    B28(700), B32(1500), B66(AWS-3),<br />
                    4G TDD LTE, B38(2600), B39(1900),<br />
                    B40(2300), B41(2500)
                  </span>
                </li>
              </ul>
              <h3 class="characteristics__title">Коммуникации</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category">ANT+:</span>
                  <span class="descr characteristics__value">Есть</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >USB интерфейс:</span
                  >
                  <span class="descr characteristics__value">USB Type-C</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category">USB:</span>
                  <span class="descr characteristics__value"
                    >USB 3.2 Gen 1</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Система навигации:</span
                  >
                  <span class="descr characteristics__value"
                    >GPS, ГЛОНАСС, Beidou, Galileo</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Разъем наушников:</span
                  >
                  <span class="descr characteristics__value">USB Type-C</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category">Wi-Fi:</span>
                  <span class="descr characteristics__value">
                    802.11 a/b/g/n/ac/ax 2.4G+5 ГГц,<br />
                    HE80, MIMO, 1024-QAM
                  </span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Wi-Fi Direct:</span
                  >
                  <span class="descr characteristics__value">Есть</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Версия Bluetooth:</span
                  >
                  <span class="descr characteristics__value"
                    >Bluetooth v5.0</span
                  >
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Функция NFC:</span
                  >
                  <span class="descr characteristics__value">Есть</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Синхронизация с ПК:</span
                  >
                  <span class="descr characteristics__value"
                    >Smart переключение (ПК версия)</span
                  >
                </li>
              </ul>
              <h3 class="characteristics__title">Сервисы и приложения</h3>
              <ul class="list-reset characteristics__list">
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Поддержка Galaxy Wearables:</span
                  >
                  <span class="descr characteristics__value">
                    Galaxy Buds, Galaxy Fit, Galaxy Fit e,<br />
                    Galaxy Watch, Galaxy Watch Active,<br />
                    Galaxy Watch Active2, Gear Fit,<br />
                    Gear Fit2, Gear Fit2 Pro, Gear Sport,<br />
                    Gear1, Gear2, Gear2 Neo, Gear S,<br />
                    Gear S2, Gear S3, Gear IconX,<br />
                    Gear IconX (2018), Gear 360,<br />
                    Gear 360 (2017)
                  </span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Поддержка Samsung DeX:</span
                  >
                  <span class="descr characteristics__value">Есть</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category">S Voice:</span>
                  <span class="descr characteristics__value">Нет</span>
                </li>
                <li class="characteristics__item">
                  <span class="descr characteristics__category"
                    >Мобильное ТВ:</span
                  >
                  <span class="descr characteristics__value">Нет</span>
                </li>
              </ul>
            </div>
          </div>
          <button
            class="btn-reset section-subtitle characteristics__return"
            type="button"
            id="summaryCharacteristicBtn"
          >
            Вернуться к кратким характеристикам
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
