<section class="banner first-banner">
  <h2 class="visually-hidden">Заказывайте флагманский смартфон Galaxy S20</h2>
  <div class="banner__wrapper first-banner__wrapper">
    <div class="banner__image">
      <picture>
        <source srcset="img/banner-img-1.avif" type="image/avif" />
        <source srcset="img/banner-img-1.webp" type="image/webp" />
        <img
          class="banner__img"
          loading="lazy"
          src="img/banner-img-1.png"
          width="579"
          height="200"
          alt=""
        />
      </picture>
    </div>
    <div class="banner__inner first-banner__inner">
      <p class="banner__descr first-banner__descr">
        Заказывайте флагманский смартфон Galaxy S20 всего за
        <span>9999</span>MXN
      </p>
      <button
        class="btn-reset btn banner__btn"
        data-graph-path="order-modal"
        type="button"
      >
        <span class="btn__text">заказать сейчас</span>
        <svg class="btn__cart-icon">
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
    <div class="banner__image first-banner__image">
      <picture>
        <source srcset="img/banner-img-2.avif" type="image/avif" />
        <source srcset="img/banner-img-2.webp" type="image/webp" />
        <img
          class="banner__img"
          loading="lazy"
          src="img/banner-img-2.png"
          width="496"
          height="330"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
