<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__info">
      <div class="hero__container">
        <div class="hero__info-wrapper">
          <span class="section-subtitle hero__tag"
            >Флагман, не имеющий компромиссов</span
          >
          <h1 class="hero__title">Samsung Galaxy S20</h1>
          <p class="section-subtitle hero__descr">
            Заказывайте S20 всего за<span>9999</span> MXN с оплатой после
            получения смартфона
          </p>
          <button
            class="btn-reset btn hero__btn"
            data-graph-path="order-modal"
            type="button"
          >
            <span class="btn__text">заказать сейчас</span>
            <svg class="btn__cart-icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
          </button>
          <ul class="list-reset hero__details">
            <li class="hero__detail">
              <picture>
                <source srcset="img/detail-1.avif" type="image/avif" />
                <source srcset="img/detail-1.webp" type="image/webp" />
                <img
                  class="hero__detail-img"
                  loading="lazy"
                  src="img/detail-1.png"
                  width="70"
                  height="80"
                  alt=""
                />
              </picture>
              <p class="hero__detail-descr">Профессиональная камера 64Мп</p>
            </li>
            <li class="hero__detail">
              <picture>
                <source srcset="img/detail-2.avif" type="image/avif" />
                <source srcset="img/detail-2.webp" type="image/webp" />
                <img
                  class="hero__detail-img"
                  loading="lazy"
                  src="img/detail-2.png"
                  width="70"
                  height="80"
                  alt=""
                />
              </picture>
              <p class="hero__detail-descr">Емкий аккумулятор</p>
            </li>
            <li class="hero__detail">
              <picture>
                <source srcset="img/detail-3.avif" type="image/avif" />
                <source srcset="img/detail-3.webp" type="image/webp" />
                <img
                  class="hero__detail-img"
                  loading="lazy"
                  src="img/detail-3.png"
                  width="70"
                  height="80"
                  alt=""
                />
              </picture>
              <p class="hero__detail-descr">Инновационный процессор</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hero__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide">
          <picture>
            <source
              srcset="img/content/hero-slider-big-1.avif"
              type="image/avif"
            />
            <source
              srcset="img/content/hero-slider-big-1.webp"
              type="image/webp"
            />
            <img
              class="hero__img-big"
              src="img/content/hero-slider-big-1.png"
              width="565"
              height="580"
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="img/content/hero-slider-small-1.avif"
              type="image/avif"
            />
            <source
              srcset="img/content/hero-slider-small-1.webp"
              type="image/webp"
            />
            <img
              class="hero__img-small"
              loading="lazy"
              src="img/content/hero-slider-small-1.png"
              width="330"
              height="340"
              alt=""
            />
          </picture>
          <img
            class="hero__img-back"
            src="img/content/hero-slider-bg-1.svg"
            alt=""
          />
        </div>
        <div class="swiper-slide hero__slide">
          <picture>
            <source
              srcset="img/content/hero-slider-big-2.avif"
              type="image/avif"
            />
            <source
              srcset="img/content/hero-slider-big-2.webp"
              type="image/webp"
            />
            <img
              class="hero__img-big"
              loading="lazy"
              src="img/content/hero-slider-big-2.png"
              width="565"
              height="580"
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="img/content/hero-slider-small-2.avif"
              type="image/avif"
            />
            <source
              srcset="img/content/hero-slider-small-2.webp"
              type="image/webp"
            />
            <img
              class="hero__img-small"
              loading="lazy"
              src="img/content/hero-slider-small-2.png"
              width="330"
              height="340"
              alt=""
            />
          </picture>
          <img
            class="hero__img-back"
            src="img/content/hero-slider-bg-2.svg"
            alt=""
          />
        </div>
        <div class="swiper-slide hero__slide">
          <picture>
            <source
              srcset="img/content/hero-slider-big-3.avif"
              type="image/avif"
            />
            <source
              srcset="img/content/hero-slider-big-3.webp"
              type="image/webp"
            />
            <img
              class="hero__img-big"
              loading="lazy"
              src="img/content/hero-slider-big-3.png"
              width="565"
              height="580"
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="img/content/hero-slider-small-3.avif"
              type="image/avif"
            />
            <source
              srcset="img/content/hero-slider-small-3.webp"
              type="image/webp"
            />
            <img
              class="hero__img-small"
              loading="lazy"
              src="img/content/hero-slider-small-3.png"
              width="330"
              height="340"
              alt=""
            />
          </picture>
          <img
            class="hero__img-back"
            src="img/content/hero-slider-bg-3.svg"
            alt=""
          />
        </div>
        <div class="swiper-slide hero__slide">
          <picture>
            <source
              srcset="img/content/hero-slider-big-4.avif"
              type="image/avif"
            />
            <source
              srcset="img/content/hero-slider-big-4.webp"
              type="image/webp"
            />
            <img
              class="hero__img-big"
              loading="lazy"
              src="img/content/hero-slider-big-4.png"
              width="565"
              height="580"
              alt=""
            />
          </picture>
          <picture>
            <source
              srcset="img/content/hero-slider-small-4.avif"
              type="image/avif"
            />
            <source
              srcset="img/content/hero-slider-small-4.webp"
              type="image/webp"
            />
            <img
              class="hero__img-small"
              loading="lazy"
              src="img/content/hero-slider-small-4.png"
              width="330"
              height="340"
              alt=""
            />
          </picture>
          <img
            class="hero__img-back"
            src="img/content/hero-slider-bg-4.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
