<section class="screen">
  <div class="container">
    <div class="screen__wrapper">
      <h2 class="section-title screen__title">
        Экран, от которого невозможно оторваться
      </h2>
      <p class="descr screen__descr">
        Дисплей с диагональю 6,2 дюйма и разрешением 3200x1440 пикселей (Quad
        HD+) имеет практически незаметные рамки, плоские края и маленькое
        отверстие для камеры. Благодаря технологии Dynamic AMOLED 2X экран
        обеспечивает еще более сильный эффект погружения, поэтому игры,
        потоковые трансляции и видеовызовы принесут еще больше ярких
        впечатлений.
      </p>
      <picture>
        <source srcset="img/screen-img.avif" type="image/avif" />
        <source srcset="img/screen-img.webp" type="image/webp" />
        <img
          class="screen__img"
          loading="lazy"
          src="img/screen-img.jpg"
          width="1440"
          height="500"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
