<section class="banner second-banner">
  <h2 class="visually-hidden">Заказывайте флагманский смартфон Galaxy S20</h2>
  <div class="banner__wrapper second-banner__wrapper">
    <div class="banner__image second-banner__image">
      <picture>
        <source srcset="img/banner-img-3.avif" type="image/avif" />
        <source srcset="img/banner-img-3.webp" type="image/webp" />
        <img
          class="banner__img"
          loading="lazy"
          src="img/banner-img-3.png"
          width="418"
          height="330"
          alt=""
        />
      </picture>
    </div>
    <div class="banner__inner second-banner__inner">
      <p class="banner__descr second-banner__descr">
        Закажите Galaxy S20 всего за <span>9999</span> MXN сейчас, и наш
        менеджер свяжется с вами в ближайшее время
      </p>
      <button
        class="btn-reset btn banner__btn"
        data-graph-path="order-modal"
        type="button"
      >
        <span class="btn__text">заказать сейчас</span>
        <svg class="btn__cart-icon">
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
      </button>
    </div>
    <div class="banner__image">
      <picture>
        <source srcset="img/banner-img-4.avif" type="image/avif" />
        <source srcset="img/banner-img-4.webp" type="image/webp" />
        <img
          class="banner__img"
          loading="lazy"
          src="img/banner-img-4.png"
          width="579"
          height="200"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
