<section class="specification">
  <div class="container">
    <div class="specification__wrapper">
      <h2 class="section-title specification__title">
        Galaxy S20 — продолжение вашего стиля
      </h2>
      <p class="descr specification__descr">
        Ваш смартфон всегда с вами, потому он должен идеально дополнять вас.
        Выберите для себя Galaxy S20 среди перечня модных оттенков с элегантным
        матовым покрытием
      </p>
      <picture>
        <source srcset="img/specification-img.avif" type="image/avif" />
        <source srcset="img/specification-img.webp" type="image/webp" />
        <img
          class="specification__img"
          loading="lazy"
          src="img/specification-img.jpg"
          width="1484"
          height="500"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
