<section class="subsequence">
  <div class="container">
    <h2 class="section-title subsequence__title">Доставка и оплата</h2>
    <ul class="list-reset subsequence__list">
      <li class="subsequence__item">
        <h3 class="subsequence__step">оформление заказа</h3>
        <p class="descr subsequence__descr">
          Оставляете заявку с вашими данными на сайте
        </p>
      </li>
      <li class="subsequence__item">
        <h3 class="subsequence__step">обработка заказа</h3>
        <p class="descr subsequence__descr">
          Мы связываемся с вами для уточнения заказа
        </p>
      </li>
      <li class="subsequence__item">
        <h3 class="subsequence__step">отгрузка</h3>
        <p class="descr subsequence__descr">
          Отправляем ваш заказ в кратчайшие сроки
        </p>
      </li>
      <li class="subsequence__item">
        <h3 class="subsequence__step">оплата</h3>
        <p class="descr subsequence__descr">
          Получаете заказ и оплачиваете его при получении
        </p>
      </li>
    </ul>
  </div>
</section>
