<section class="types" id="photo-section">
  <div class="container">
    <h2 class="section-title types__title">Внешний вид и характеристики</h2>
    <div class="tabs types__tabs" data-tabs="types">
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="types__content">
            <div class="swiper-wrapper">
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-1.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-1.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-1.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-1.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-1.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-1.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-2.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-2.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-2.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-2.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-2.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-2.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-3.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-3.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-3.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-3.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-3.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-3.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-4.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-4.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-4.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-4.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-4.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-4.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-5.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-5.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-5.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-5.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-5.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-5.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-6.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-6.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-6.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-6.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-6.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-6.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="types__content">
            <div class="swiper-wrapper">
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-7.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-7.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-7.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-1.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-1.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-1.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-8.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-8.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-8.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-2.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-2.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-2.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-9.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-9.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-9.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-3.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-3.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-3.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-10.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-10.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-10.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-4.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-4.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-4.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-11.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-11.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-11.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-5.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-5.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-5.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-12.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-12.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-12.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-6.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-6.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-6.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="types__content">
            <div class="swiper-wrapper">
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-13.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-13.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-13.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-1.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-1.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-1.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-14.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-14.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-14.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-2.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-2.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-2.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-15.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-15.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-15.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-3.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-3.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-3.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-16.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-16.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-16.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-4.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-4.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-4.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-17.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-17.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-17.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-5.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-5.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-5.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-18.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-18.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-18.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-6.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-6.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-6.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="types__content">
            <div class="swiper-wrapper">
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-19.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-19.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-19.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-1.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-1.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-1.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-20.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-20.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-20.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-2.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-2.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-2.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-21.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-21.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-21.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-3.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-3.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-3.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-22.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-22.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-22.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-4.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-4.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-4.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-23.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-23.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-23.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-5.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-5.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-5.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
              <div class="swiper-slide types__slide">
                <picture>
                  <source
                    srcset="img/content/types-img-big-24.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-big-24.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-big"
                    loading="lazy"
                    src="img/content/types-img-big-24.png"
                    width="370"
                    height="500"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    srcset="img/content/types-img-small-6.avif"
                    type="image/avif"
                  />
                  <source
                    srcset="img/content/types-img-small-6.webp"
                    type="image/webp"
                  />
                  <img
                    class="types__img-small"
                    loading="lazy"
                    src="img/content/types-img-small-6.png"
                    width="190"
                    height="256"
                    alt=""
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-reset tabs__nav types__nav">
        <li class="tabs__nav-item types__nav-item">
          <button
            class="btn-reset tabs__nav-btn types__nav-btn types__nav-btn--1"
            type="button"
            aria-label="Смартфон белого цвета"
          ></button>
        </li>
        <li class="tabs__nav-item types__nav-item">
          <button
            class="btn-reset tabs__nav-btn types__nav-btn types__nav-btn--2"
            type="button"
            aria-label="Смартфон темно-синего цвета"
          ></button>
        </li>
        <li class="tabs__nav-item types__nav-item">
          <button
            class="btn-reset tabs__nav-btn types__nav-btn types__nav-btn--3"
            type="button"
            aria-label="Смартфон светло-зеленого цвета"
          ></button>
        </li>
        <li class="tabs__nav-item types__nav-item">
          <button
            class="btn-reset tabs__nav-btn types__nav-btn types__nav-btn--4"
            type="button"
            aria-label="Смартфон светло-фиолетового цвета"
          ></button>
        </li>
      </ul>
    </div>
  </div>
</section>
